<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folders</title>
    <link rel="stylesheet" href="/create_folders.css">

    <style>

    </style>
</head>

<body>

    <div class="container">

        <div class="message">
            <%- include("partials/errors.ejs") %>

                <% if (typeof message !=="undefined" ) { %>
                    <div class="sucessDelete">
                        <%= message %>
                    </div>
                    <% } %>
        </div>

        <form method="POST" action="/folder">
            <label for="folder">Create Folder:</label><br><br>
            <input name="folder" type="text" placeholder="Folder name">
            <input type="submit" value="Create">
        </form>

        <ul>
            <% if (typeof folders !=="undefined" && folders.length> 0) { %>

                <% folders.forEach(function(folder) { %>
                    <li>
                        <a class="folder-link" href="/folder/<%= folder.id %>">
                            📁 <%= folder.name %>
                        </a>

                        <div class="actions">
                            <form action="/<%= folder.id %>/folder/delete" method="POST"
                                onsubmit="return confirm('Are you sure you want to delete this folder?');">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                    <% }) %>

                        <% } else { %>
                            <li>No folders yet</li>
                            <% } %>
        </ul>

    </div>

</body>

</html>