<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>

<body>
    <h1>Folder <%= folder.name %>
    </h1>

    <ul>
        <% if (folder.files && folder.files.length> 0) { %>
            <% folder.files.forEach(function(file) { %>
                <li>
                    Name: <%= file.name %><br>
                        createdAt: <%= file.createdAt.toLocaleString() %><br>
                            <a href="<%= file.link %>">link</a>
                </li>
                <% }); %>
                    <% } else { %>
                        <li>No files yet</li>
                        <% } %>
    </ul>

    <form method="POST" action="/<%= folder.id %>/upload" enctype="multipart/form-data">
        <input name="avatar" type="file">
        <br>
        <input type="submit" value="add">
    </form>
</body>

</html>