<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>

<body>
    <form method="POST" action="/<%= folder.id %>/upload" enctype="multipart/form-data">
        <label for="avatar">Upload file:</label>
        <input name="avatar" type="file">
        <input type="submit" value="submit">
    </form>
    <ul>
        <% if (locals.folder) {%>

            <% folder.files.forEach(function(file) { %>
                <li>ID: <%= file.id %>
                </li>
                <li>Name: <%= file.name %>
                </li>
                <li>folderId: <%= file.folderId %>
                </li>
                <li>
                    createdAt: <%=file.createdAt.toLocaleString()%>
                </li>


                <% }); %>
                    <% } %>

    </ul>
</body>

</html>