<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>

<body>



    <ul>
        <% if (typeof folder !=='undefined' && folder.files.length> 0) { %>

            <h1>
                <%= folder.name %>
            </h1>
            <% folder.files.forEach(function(file) { %>
                <li>
                    Name: <%= file.name %><br>
                        createdAt: <%= file.createdAt.toLocaleString() %><br>

                            <form method="GET" action="/file/<%= file.id %>/link">
                                <button type="submit">Share Link for two minutes</button>
                            </form>

                            <a download="<%= file.name %>" href="/file/<%=file.id%>/download">download</a>
                         
                </li>
                <% }); %>
                    <% } else { %>
                        <li>No files yet</li>
                        <% } %>
    </ul>
    <form method="POST" action="/folder/<%= folder.id %>" enctype="multipart/form-data">
        <input id="avatar" name="avatar" type="file">
        <br>
        <input type="submit" value="add">
    </form>
    <a href="/folder">Back</a>


</body>

</html>